* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    cursor: default;
    scroll-behavior: smooth;
    font-weight: 400;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background: black;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.landing-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade-in 2s ease-out;
}

.title {
    font-weight: 600;
    font-size: 15vmin;
    text-decoration: none;
    text-align: center;
    animation: fade-in 4s ease-in;
}

.line {
    height: 1vmin;
    width: 75vmin;
    border-color: #ffc508;
    background-color: #ffc508;
}

.subtitle {
    height: 8vmin;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    list-style: none;
    animation: fade-in 4s ease-in;
}

.subtitle-item {
    font-size: 5vmin;
    text-decoration: none;
    animation: change 16s 3s infinite;
}

.content-page {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: black;
}

.content-title {
    font-weight: 600;
    font-size: 10vmin;
    text-decoration: none;
}


.content-video-accordions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    width: 90vw;
}

.content-accordion {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.accordion-button {
    cursor: pointer;
    width: 90vw;
    font-size: 2vmax;
    text-decoration: none;
    background-color: black;
    border-bottom-color: #ffc508;
    border-bottom-width: 5px;
}

.accordion-videos {
    width: 60vw;
}

.content-article {
    font-size: 2vmax;
    width: 75vw;
    text-decoration: none;
    text-align: justify;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-100%,0);}
  33.32%,45.98% {transform:translate3d(0,-200%,0);}
  49.98%,62.64% {transform:translate3d(0,-300%,0);}
  66.64%,79.3% {transform:translate3d(0,-200%,0);}
  83.3%,95.96% {transform:translate3d(0,-100%,0);}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-100%,0);}
  33.32%,45.98% {transform:translate3d(0,-200%,0);}
  49.98%,62.64% {transform:translate3d(0,-300%,0);}
  66.64%,79.3% {transform:translate3d(0,-200%,0);}
  83.3%,95.96% {transform:translate3d(0,-100%,0);}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-100%,0);}
  33.32%,45.98% {transform:translate3d(0,-200%,0);}
  49.98%,62.64% {transform:translate3d(0,-300%,0);}
  66.64%,79.3% {transform:translate3d(0,-200%,0);}
  83.3%,95.96% {transform:translate3d(0,-100%,0);}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-100%,0);}
  33.32%,45.98% {transform:translate3d(0,-200%,0);}
  49.98%,62.64% {transform:translate3d(0,-300%,0);}
  66.64%,79.3% {transform:translate3d(0,-200%,0);}
  83.3%,95.96% {transform:translate3d(0,-100%,0);}
}